body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #303336;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.backround-img{
    width: 100%;
}

p{
    font-family: 'Rubik', sans-serif;
}
/*Header/nav*/

li{
    list-style-type: none;
}

.ul-navbar{
    margin-right: 55px;
}
.div.menu :hover{
background-color: blueviolet;

}
.navbar{
    width: 100%;
    height: 60px;
    background: #090f1b;
    position: fixed;
    top:0;
    left:0;
    padding: 0 25px;
}

.navbar .inner_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar .hamburgermenu{
    display: none;
    
 }

 .navbar .logo a{
     font-weight: 700;
     font-size: 24px;
     letter-spacing: 3px;
     color: #fff;
 }

.hidden {
    display: none !important;
}

 .navbar .menu ul{
     display: flex;
 }

 .navbar .menu ul li a{
     display: block;
     width: 120px;
     margin-right: 10px;
     text-align: center;
     font-size: 14px;
     text-transform: uppercase;
     color: #fff;
     padding: 10px;
     letter-spacing: 2px;
     transition: all 0.2 ease;
     
 }

 .navbar .menu ul li:last-child a{
margin-right: 0;
 }


 .main_container{
     margin-top: 60px;
     padding: 25px; 
 }


 @media (width: 992px){
.navbar{
    height: 100px;
    padding: 12px; 
}

.navbar .inner_navbar{
    flex-direction: column ;
}

.main_container{
    margin-top: 100px;
}

}

@media (max-width: 728px){
    .navbar{
        height: 60px;
    }

    .navbar .inner_navbar{
        flex-direction: row;
    }
    .main_container{
        margin-top: 60px;
    }
    .navbar .menu ul{
        position: absolute;
        top: 60px;
        left: 0;
        display: block;
        background: #090f1b;
        width: 100%;
    }
    .navbar .menu ul li{
        padding: 10px;
    }
    .navbar .menu ul li a{
        width: 100%;
        padding: 12px
    }
    .navbar .hamburger{
        display: block;
        position: absolute;
        top: 15;
        right: 25px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        cursor: pointer;
        transition: all 0.2s ease;

    }
    .navbar .menu{
        display: none
    }
    
    .navbar .menu.active{
        display: block;
    }
}
  

/*Homepage*/
.pictures-of-new-posts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div-new-posts {
    display: flex;
    flex-direction: column;
}



.achievements-as-dj {
    background-color: white;
    size: 100%;
}

.key-figures-of-my-work {
    color: black;
}

.h3-for-front-page {
    color: black;
}




    /*Not finito*/
.container-homepge{
    display: flex;
    /* width: 1553px; */
    margin: 80px;
    position: relative;
    /*----------------*/
}

.post-carousel{
    display: flex;
    
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.prev-button{
    position: absolute;
    left: 0%;
    top: 50%;
    z-index: 1
}

.next-button{
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: 1
}
.image-card-homepage {
    border-radius: 23px solid red;       
    /* width: 300px; */
    
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: rgba(230, 215, 215, 0.25) 0px 54px 55px, rgba(165, 154, 154, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(243, 243, 243, 0.09) 0px -3px 5px;
    margin: 0 20px;
        
}

.img-card-carousel{
    padding-top: 20px;
    min-width: 250px;
    object-fit:cover;
    height: 200px; 
    background-color:#303336;
    display: flex;
    align-items: center;
    
}

.header-homepage {
    font-size: 1rem;
    color: white;
}

.container-allH2Cards-frontPage{
    height: 100px;
}
.h2-image-forntPage{
    font-size: 20px;
}



.image-card-homepage p{
font-size: 16px;
}

.link-decoration {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 70px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 20px;
}

    
    .view-more-button-home-page {

    color: white;
    background-color: rgb(97, 86, 116);
    border-radius: 30px;
    width: 6rem;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousell-image{
    display: inline-block;
    
}

.achievements-as-dj{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 5rem;
}

.key-figures-of-my-work{
    text-align: center;
}

.about-me-frontpage-img{
    max-width: 400px;
}

.aboutMe-frontpage-div{
    display: flex;
    align-items: center;
}








/* Mediaqueries under desktop-size*/
@media (max-width: 1556px) { 
.container-homepge{

width: 780px ;
}
.backround-img{ max-width: 100%;
}
.navbar .hamburgermenu{
    display: flex;
    
    
 }
}


@media (max-width: 800px) { 
    .container-homepge{
    
    width: 420px;
    margin: auto;
} 
.navbar .hamburgermenu{
    display: flex;  
 }
.backround-img{
    max-width: 100%;
}
.navbar .hamburgermenu{
    display: flex;
    
    
 }
}










































